<p id="notice"><%= notice %></p>

<center>
  <h1>Declan <%= Game.declan_wins %> - SWM <%= Game.swm_wins %></h1>
</center>

<h2>Games</h2>
<table>
  <thead>
    <tr>
      <th>Winner</th>
      <th>Date & Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.winner %></td>
        <td><%= game.created_at.strftime("%e %b %Y %H:%M:%S") %></td>
        <td><%= link_to 'View Writeup', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>No individual records existed before the 24th November 2016 17:00. The tally prior to this was:<br /><br />Declan 21 - SWM - 29</p>
<% if user_signed_in? %>
<%= link_to 'New Game', new_game_path %>
<% end %>
